<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Добавить новую услугу<br>
    <form action="" method="post">
        <input type="text" name="date_z" placeholder="Дата заказа"><br>
        <input type="text" name="contact" placeholder="Имя заказчика"><br>
        <input type="number" name="total_v" placeholder="Общий вес перевозки"><br>я
        <input type="submit" name="insert" value="Добавить">
    </form>
    <br>
    <a href="/edit">Назад</a>
</body>
</html>