<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

{% import 'basket_utils.html' as utils %}

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>Список предметов</h2>
      {%  if items %}
      {% for item in items %}
        {{ utils.render_item(item, show_form=True)}}
      {% endfor %}
      {% else %}
      <p>Нет доступных предметов для перевозки</p>
      {% endif %}
    </div>
    <div class="col-md-5">
      <h2>Ваша офисная коробка</h2>
      {%  if basket %}
      {% for item in basket %}
        {{ utils.render_item(item, show_form=False)}}
      {% endfor %}
      {% else %}
      <p>Офисная коробка пустая</p>
      {% endif %}
    </div>
    <div class="col-md-2">
      <a href="clear">Очистить офисную коробку</a>
      <br>
      <a href="todo">Оформить переезд</a>
    </div>
  </div>

</div>

</body>
</html>