<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title> Flask curse </title>
</head>
<body>
<h1>{{name}}</h1>
<h1>
    Главное меню
    <br>
    <a href="/auth"> Авторизоваться </a>
    <br>
    <a href="/edit">Редактирование таблицы</a>
    <br>
    <a href="/user"> Меню запросов </a>
    <br>
    <a href="/basket"> Корзина </a>
    <br>
    <a href="/#"> Завершить работу</a>
</h1>
<!--<p> some text: {{ text }}</p> **context => some text = text

{% block example %}{% endblock %}

{% for item in items %}
<div>{{ item }}</div>
{% endfor %}

<ul>
    <li> item1 </li>
    <li> item2 </li>
</ul>-->
</body>
</html>
